*.aux
*.bbl
*.blg
*.db
*.dll
*.exe
*.exp
*.gz
*.idb
*.ilk
*.ipch
*.lib
*.lastbuildstate
*.layout
*.log
*.mp4
*.o
*.obj
*.opendb
*.opensdf
*.out
*.pdb
*.pdf
*.pk
*.png
*.ppm
*.res
*.sdf
*.so
*.suo
*.svg
*.tlog
*.toc
*.user
*.wav
*.zip

Misc/UnusedCode/RSLibAndTests/RSLibTests/GeneratedFiles
Products/AudioPlugins/ToolChain/Builds/VisualStudio2015/x64/Debug/
Temp/
Prototypes/Cpp/Builds/VisualStudio2019/enc_temp_folder/
Prototypes/Cpp/Builds/VisualStudio2019/x64/Debug/ConsoleApp/Experiments_ConsoleApp.vcxproj.FileListAbsolute.txt
Projects/CppExperiments/Build/VisualStudio2019/x64/Debug/CppExperiments.vcxproj.FileListAbsolute.txt
