#---------------------------------------------------------------------------------------------------
# Ignored file formats:

# Archives:
*.7z
*.gz
*.zip

# Media:
*.mp4
*.pdf
*.png
*.ppm
# *.svg ...we need to track svg files in e.g. Notes/DSP/Diagrams
*.wav

# Build products:
*.app
*.component
*.dll
*.exe
*.lib
*.so

# Build intermediates (C++):
*.o
*.obj

# Build intermediates (LaTeX):
*.aux
*.auxlock
*.bbl
*.log
*.md5
*.out
*.toc

# IDE generated (by Visual Studio):
*.exp
*.idb
*.ilk
*.ipch
*.lastbuildstate
*.layout
*.opendb
*.opensdf
*.pdb
*.pyc
*.res
*.sdf
*.suo
*.tlog
*.user

# Preview acceleration:
*.db
*.pk

# Misc:
*.blg

# Temporary 
*.synctex(busy)
# These files appear only during builds and are automatically deleted when the build is finished. 
# When comitting during a build phase they might get accidently added which we want to avoid.

# ToDo:
# Document what the file formats mean.

#---------------------------------------------------------------------------------------------------
# Ignored folders:

# My own folder for placing local temporary files during development:
Temp/

# Build products and temp files from IDEs:
Products/AudioPlugins/ToolChain/Builds/VisualStudio2015/x64/Debug/
Prototypes/Cpp/Builds/VisualStudio2019/enc_temp_folder/
Misc/UnusedCode/RSLibAndTests/RSLibTests/GeneratedFiles

# Temp files from Jupyter Notebook and Jupyter Notebook Desktop:
Notebooks/Python/.ipynb_checkpoints
Notebooks/Python/.jupyter
Notebooks/Python/.virtual_documents

#---------------------------------------------------------------------------------------------------
# Ignored files:

Prototypes/Cpp/Builds/VisualStudio2019/x64/Debug/ConsoleApp/Experiments_ConsoleApp.vcxproj.FileListAbsolute.txt
Projects/CppExperiments/Build/VisualStudio2019/x64/Debug/CppExperiments.vcxproj.FileListAbsolute.txt

*.db
